* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
}

#noscript {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 50%;
  padding: 16px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#noscript img {
  height: 120px;
  margin-bottom: 32px;
  width: 120px;
}

#noscript h1 {
  color: black;
  font-family: sans-serif;
  text-align: center;
}

#noscript a {
  color: #006cff;
  font-family: sans-serif;
  outline-color: #006cff;
  text-decoration: none;
}

#noscript a:hover {
  text-decoration: underline;
}
